---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact" sideBarActiveItemID="contact">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Contact</div>
  </div>

  <div class="mb-10">
    If you want to discuss anything with me, use the form below to contact me. It may take 48h for me to get back to you. PS: At this moment, I'm not actively looking for new engagements.  
  </div>

  <form action="https://formspree.io/f/xanywrpv" method="POST">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-4">
        <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Your name:</label>
        <div class="mt-2">
          <input type="text" name="name" required class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div class="sm:col-span-4">
        <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Your e-mail address:</label>
        <div class="mt-2">
          <input type="email" name="email" required class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div class="col-span-full">
        <label for="message" class="block text-sm font-medium leading-6 text-gray-900">Your message:</label>
        <div class="mt-2">
          <textarea name="message" required rows="6" minlength="50" class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
        </div>
      </div>

      <button class="btn rounded-md shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"></path></svg> Send
      </button>
    </div>
  </form>

</BaseLayout>
