---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const projects = (await getCollection("projects")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const lastProjects = projects.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Olá 👋</div>
    <div class="text-5xl font-bold">I'm Tiago Romero</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Dog Daddy</div>
    <div class="py-2">
      <text class="text-lg">
        I'm a Brazilian American software engineer with over 18 years of experience.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        I've been working full-stack as a tech lead and software engineer on product and platform teams. My recent work includes web performance, design systems, and framework-level advancements for B2B surfaces. I've coached and mentored dozens of individuals and trained entire teams. I'm driven by empathy, kindness, and creativity.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold my-5">Latest projects</div>
  </div>

  {
    lastProjects.map((project, index) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.heroImage}
          desc={project.data.description}
          url={"/projects/" + createSlug(project.data.title, project.slug)}
          target="_self"
          badge={project.data.badge}
        />
        {(index < lastProjects.length - 1) && <div class="divider my-0" />}
      </>
    ))
  }
</BaseLayout>
