---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const works = (await getCollection("works")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const lastWorks = works.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-5 mt-5">
    <div class="text-xl py-1">Olá 👋</div>
    <div class="font-bold md:text-5xl text-4xl">I'm Tiago Romero (he/him)</div>
    <div class="text-2xl md:text-3xl py-3 font-bold">
      Software Engineer and Dog Daddy
    </div>
    <div class="py-2">
      <text class="text-lg">
        I'm a Brazilian American software engineer with over 18 years of
        experience.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        I've been working full-stack as a tech lead and software engineer on
        product and platform teams, at tech companies such as <b>Pinterest</b> and
        <b>Asana</b>. My recent work areas include web performance, design
        systems, ad tech and web frameworks. I've coached and mentored dozens of
        individuals and trained entire teams. I'm driven by empathy, kindness,
        and creativity.
      </text>
    </div>
    <div class="my-8 md:flex">
      <div class="mb-4 md:mr-4">
        <a class="btn btn-outline btn-default btn-block md:w-auto" href="/myself"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
              d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8 0-1.168.258-2.275.709-3.276.154.09.308.182.456.276.396.25.791.5 1.286.688.494.187 1.088.312 1.879.312.792 0 1.386-.125 1.881-.313s.891-.437 1.287-.687.792-.5 1.287-.688c.494-.187 1.088-.312 1.88-.312s1.386.125 1.88.313c.495.187.891.437 1.287.687s.792.5 1.287.688c.178.067.374.122.581.171.191.682.3 1.398.3 2.141 0 4.411-3.589 8-8 8z"
            ></path><circle cx="8.5" cy="12.5" r="1.5"></circle><circle
              cx="15.5"
              cy="12.5"
              r="1.5"></circle></svg
          > Learn about me</a
        >
      </div>
      <div>
        <a class="btn btn-outline btn-default btn-block md:w-auto" href="/resume"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
              d="M18 22a2 2 0 0 0 2-2V8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12zM13 4l5 5h-5V4zM7 8h3v2H7V8zm0 4h10v2H7v-2zm0 4h10v2H7v-2z"
            ></path></svg
          > Read my résumé</a
        >
      </div>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold my-5">My extracurricular works</div>
  </div>

  {
    lastWorks.map((work, index) => (
      <>
        <HorizontalCard
          title={work.data.title}
          img={work.data.heroImage}
          desc={work.data.description}
          url={"/works/" + createSlug(work.data.title, work.slug)}
          target="_self"
          badge={work.data.badge}
        />
        {index < lastWorks.length - 1 && <div class="divider my-0" />}
      </>
    ))
  }
</BaseLayout>
