---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Résumé</div>
  </div>

  <div class="mb-10">
    Thanks for your interest on getting to know my professional side. You can
    choose to open my résumé on Google Docs (where you download it as a PDF),
    visit my LinkedIn profile or else just scroll down to read my résumé here on
    this page.
  </div>

  <div class="my-8 md:flex">
    <div class="mb-4 md:mr-4">
      <a
        class="btn btn-outline btn-default btn-block md:w-auto"
        href="https://docs.google.com/document/d/1FhcgeugDCwRn_dpCa-n-NIwSiDVWgN91oudvInlDojs/edit?usp=sharing"
        target="_blank"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: currentColor;transform: ;msFilter:;"
          ><path
            d="M12.186 14.552c-.617 0-.977.587-.977 1.373 0 .791.371 1.35.983 1.35.617 0 .971-.588.971-1.374 0-.726-.348-1.349-.977-1.349z"
          ></path><path
            d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6zM9.155 17.454c-.426.354-1.073.521-1.864.521-.475 0-.81-.03-1.038-.06v-3.971a8.16 8.16 0 0 1 1.235-.083c.768 0 1.266.138 1.655.432.42.312.684.81.684 1.522 0 .775-.282 1.309-.672 1.639zm2.99.546c-1.2 0-1.901-.906-1.901-2.058 0-1.211.773-2.116 1.967-2.116 1.241 0 1.919.929 1.919 2.045-.001 1.325-.805 2.129-1.985 2.129zm4.655-.762c.275 0 .581-.061.762-.132l.138.713c-.168.084-.546.174-1.037.174-1.397 0-2.117-.869-2.117-2.021 0-1.379.983-2.146 2.207-2.146.474 0 .833.096.995.18l-.186.726a1.979 1.979 0 0 0-.768-.15c-.726 0-1.29.438-1.29 1.338 0 .809.48 1.318 1.296 1.318zM14 9h-1V4l5 5h-4z"
          ></path><path
            d="M7.584 14.563c-.203 0-.335.018-.413.036v2.645c.078.018.204.018.317.018.828.006 1.367-.449 1.367-1.415.006-.84-.485-1.284-1.271-1.284z"
          ></path></svg
        > Open my résumé</a
      >
    </div>
    <div>
      <a
        class="btn btn-outline btn-default btn-block md:w-auto"
        href="https://www.linkedin.com/in/tiagoromero/"
        target="_blank"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: currentColor;transform: ;msFilter:;"
          ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
            d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
          ></path>
        </svg> Visit my LinkedIn profile</a>
    </div>
  </div>

  <iframe
    title="Tiago's résumé embedded visualization"
    src="https://docs.google.com/document/d/e/2PACX-1vRD-ZmoHA0-ozAeA1fwLA_rbGhtWMPhnW0kiYZx6CNPn2g4Ukx4O81C__aYQ6Zk3rRqzxoxUfr84hcw/pub?embedded=true"
    width="100%"
    height="718"
    class="border-2">Loading...</iframe
  >
</BaseLayout>
