<div class="divider" />
<footer class="footer footer-center block my-10">
  <div class="inline opacity-75">
    Developed using
    <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="font-bold">Astrofy Template ⚡️</a>
  </div>
</footer>
<style></style>
